root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,html,vue}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.{sh,bash}]
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 2

[*.{css,scss}]
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = 2

[*.{c,h}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
